<div class="container">
  <h1>Answer</h1>
    <p> <%= @question %> </p>
    <p><em>-YOU</em></p>
  <div class="response">
    <p> <%= @response %> </p>
    <p> <em>-YOUR COACH</em></p>
  </div>
  <%= link_to "Ask another question", ask_path, class: "btn btn-primary" %>
</div>
