<div class="container">
  <h1> Coucou </h1>
    <form action="/answer" method="get">
      <input type="text" name="question" placeholder="ask">
      <input type="submit" value="ask!">
    </form>
</div>

